# Windows - Create a file '.bash_profile' in C:\\Users\\username
# add reference to .aliases with 'source D:\\Tools\\bash_aliases\\.aliases'
 
alias ls='ls -F --color=auto --show-control-chars'
alias ll='ls -l'

alias dev='cd D:'
alias clb='git branch --merged | egrep -v "\* develop" | xargs git branch -d'

alias gpull='git pull'
alias gpush='git push'
alias gadd='git add .'
alias gcom='git commit -am'

alias fo='git fetch origin'
alias md='git merge origin/develop'
alias cb='git switch -c'
alias back='git switch -'
alias sw='git switch'
